/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #161b22;

    height: 160px;
}

.sidebar-link {
    padding: 2em;
    width: 26%;
    text-decoration: none;
    color: white;

    font-size: 1.5em;
    text-align: center;
}

.sidebar-link:hover {
    transition: 0.5s;
    color: #8b949e;
}

.logo {
    max-width: 70px;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}


