/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #2a2a2a;
}

.sidebar > a {
    padding: 2em;
    text-decoration: none;
    color: white;
    width: 33.3%;
    font-size: 1.5em;

    text-align: center;
}

.sidebar > a:hover {
    background-color: black;
    transition: 1s;

    color: #ffeaa7;
}

.logo {
    width: 4%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}
